body {
    margin: 0;
    padding: 0;
}

.header {
    height: 150px;
}

.container > .turn,
.container > .restartBtn {
    height: 100px;
}

.container > .board {
    height: 450px;
    width: 450px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}